In [28]:
import pandas as pd
import numpy as np

In [81]:
df_1 = pd.read_csv("/Users/kjung6/Downloads/eva_data_combine/adrcid_sex.csv") 
df_2 = pd.read_csv("/Users/kjung6/Downloads/eva_data_combine/age_recordid.csv")
df_3 = pd.read_csv("/Users/kjung6/Downloads/eva_data_combine/adrcdb_record_sort.csv") 
df_4 = pd.read_csv("/Users/kjung6/Downloads/eva_data_combine/adrcdb_other_var.csv") 
for col in df_2.columns:
    print(col)

event_age
record_id

In [82]:
print(df_1)
df_1.sort_values('record_id', ascending = True, inplace = True)
print(df_1)

    record_id  adrc_id     sex
0    11261-16  3900240    Male
1    11261-25  3900345    Male
2    11261-34  3900041    Male
3    11261-47  3900366    Male
4    11261-63  3900392    Male
..        ...      ...     ...
73  11261-309  3900651    Male
74  11261-310  3900642  Female
75  11261-312  3900657  Female
76  11261-313  3900640    Male
77  11261-314  3900665    Male

[78 rows x 3 columns]
    record_id  adrc_id     sex
8   11261-108  3900476    Male
0    11261-16  3900240    Male
9   11261-188  3900141    Male
10  11261-193  3900277    Male
11  11261-199  3900214  Female
..        ...      ...     ...
3    11261-47  3900366    Male
4    11261-63  3900392    Male
5    11261-67  3900393    Male
6    11261-83  3900269  Female
7    11261-90  3900446    Male

[78 rows x 3 columns]

In [83]:
df_2.sort_values(['record_id', 'event_age'], ascending=[True, False], inplace = True)
#print(df_2.head())
#print(df_2)
df_2 = df_2.drop_duplicates(subset = 'record_id', keep = 'first')
#df_2.sort_values('record_id', ascending = True, inplace = True)
print(df_2)

    event_age  record_id
44      67.34  11261-108
2       68.34   11261-16
47      76.40  11261-188
52      84.76  11261-193
57      85.32  11261-199
..        ...        ...
19      77.64   11261-47
24      74.25   11261-63
31      92.84   11261-67
36      61.77   11261-83
39      79.77   11261-90

[78 rows x 2 columns]

In [84]:
df_1_2 = pd.merge(df_1, df_2, on = 'record_id', how = 'inner')
print(df_1_2)

    record_id  adrc_id     sex  event_age
0   11261-108  3900476    Male      67.34
1    11261-16  3900240    Male      68.34
2   11261-188  3900141    Male      76.40
3   11261-193  3900277    Male      84.76
4   11261-199  3900214  Female      85.32
..        ...      ...     ...        ...
73   11261-47  3900366    Male      77.64
74   11261-63  3900392    Male      74.25
75   11261-67  3900393    Male      92.84
76   11261-83  3900269  Female      61.77
77   11261-90  3900446    Male      79.77

[78 rows x 4 columns]

In [85]:
df_3['record_id'] = df_3['record_id'].astype(int)
df_3 = df_3.dropna(subset = ['adrc_study_id'])
df_3['adrc_id'] = df_3['adrc_study_id'].astype(int)
df_3 = df_3.drop_duplicates(subset = 'adrc_id', keep = 'first')
print(df_3)

#df_3_4 = pd.merge(df_3, df_4, on = ['record_id', 'record_id', 'redcap_event_name'], how = 'inner')
#print(df_3_4)
#print(df_3_4.shape)

      adrc_study_id  record_id      redcap_event_name  adrc_id
2862      3900697.0        679  year_1_of_study_arm_1  3900697
2864      3900678.0        678  year_1_of_study_arm_1  3900678
2866      3900677.0        677  year_1_of_study_arm_1  3900677
2868      3900676.0        676  year_1_of_study_arm_1  3900676
2870      3900675.0        675  year_1_of_study_arm_1  3900675
...             ...        ...                    ...      ...
6116      3900005.0          5  year_1_of_study_arm_1  3900005
6126      3900004.0          4  year_1_of_study_arm_1  3900004
6133      3900003.0          3  year_1_of_study_arm_1  3900003
6142      3900002.0          2  year_1_of_study_arm_1  3900002
6150      3900001.0          1  year_1_of_study_arm_1  3900001

[678 rows x 4 columns]

In [86]:
df_1_2_3 = pd.merge(df_1_2, df_3, on = 'adrc_id', how = 'inner')
print(df_1_2_3)

   record_id_x  adrc_id     sex  event_age  adrc_study_id  record_id_y  \
0    11261-108  3900476    Male      67.34      3900476.0          476
1     11261-16  3900240    Male      68.34      3900240.0          240
2    11261-188  3900141    Male      76.40      3900141.0          141
3    11261-193  3900277    Male      84.76      3900277.0          277
4    11261-199  3900214  Female      85.32      3900214.0          214
..         ...      ...     ...        ...            ...          ...
73    11261-47  3900366    Male      77.64      3900366.0          366
74    11261-63  3900392    Male      74.25      3900392.0          392
75    11261-67  3900393    Male      92.84      3900393.0          393
76    11261-83  3900269  Female      61.77      3900269.0          269
77    11261-90  3900446    Male      79.77      3900446.0          446

        redcap_event_name
0   year_1_of_study_arm_1
1   year_1_of_study_arm_1
2   year_1_of_study_arm_1
3   year_1_of_study_arm_1
4   year_1_of_study_arm_1
..                    ...
73  year_1_of_study_arm_1
74  year_1_of_study_arm_1
75  year_1_of_study_arm_1
76  year_1_of_study_arm_1
77  year_1_of_study_arm_1

[78 rows x 7 columns]

In [101]:
df_4 = pd.read_csv("/Users/kjung6/Downloads/eva_data_combine/adrcdb_other_var.csv") 
df_4.sort_values(['redcap_event_name', 'record_id'], ascending=[True, False], inplace = True)
df_4['record_id'] = df_4['record_id'].astype(int)
df_4 = df_4.dropna(subset=['adrc_study_id'])
df_4['adrc_id'] = df_4['adrc_study_id'].astype(int)
df_4.drop(columns=['record_id'], inplace=True)

df_4 = pd.read_csv("/Users/kjung6/Downloads/eva_data_combine/adrcdb_other_var.csv") 

#print(df_4)

df_4['redcap_event_name'] = df_4['redcap_event_name'].replace({'cycle_2_referrals_arm_1': 0, '	cycle_1_referrals_arm_1': 0,
                                                               'complete_study_arm_1': 0, 
                                                               'year_1_of_study_arm_1': 1, 
                                                               'year_2_of_study_arm_1': 2, 
                                                               'year_3_of_study_arm_1': 3, 
                                                               'year_4_of_study_arm_1': 4,
                                                               'year_5_of_study_arm_1': 5,
                                                               'year_6_of_study_arm_1': 6, 
                                                               'year_7_of_study_arm_1': 7,
                                                               'year_8_of_study_arm_1': 8, 
                                                               'year_9_of_study_arm_1': 9, 
                                                               'year_10_of_study_arm_1': 10,
                                                               })
df_4.sort_values(['redcap_event_name', 'record_id'], ascending=[True, False], inplace = True)
#df_4 = df_4.drop_duplicates(subset = 'redcap_event_name', keep = 'first')

In [102]:
df_1_2_3_4 = pd.merge(df_1_2_3, df_4, on = ['adrc_id','adrc_study_id', 'redcap_event_name'], how = 'inner')

In [ ]:
def combine_prelim(row):
    if row['primary_dgn_prelim_cat___0'] == 1:
        return 'Healthy Control'
    elif row['primary_dgn_prelim_cat___1'] == 1:
        return 'Mild Cognitive Impairment'
    elif row['primary_dgn_prelim_cat___2'] == 1:
        return 'Probable Alzheimer's Disease'
    elif row['primary_dgn_prelim_cat___3'] == 1:
        return 'Possible Alzheimer's Disease'
    elif row['primary_dgn_prelim_cat___4'] == 1:
        return 'Lewy Body Disease'
    elif row['primary_dgn_prelim_cat___5'] == 1:
        return 'Parkinson's Disease only'
    elif row['primary_dgn_prelim_cat___6'] == 1:
        return 'Parkinson's Disease and Mild cognitive impairment'
    elif row['primary_dgn_prelim_cat___7'] == 1:
        return 'Parkinson's Disease and Dementia'
    elif row['primary_dgn_prelim_cat___8'] == 1:
        return 'Other'
    elif row['primary_dgn_prelim_cat___9'] == 1:
        return 'w/Concerns'
    elif row['primary_dgn_prelim_cat___99'] == 1:
        return 'unknown'
    else:
        return 'No Preliminary Dx'
        

def combine_consensus(row):
    if row['primary_dgn_consensus___0'] == 1:
        return 'Healthy Control'
    elif row['primary_dgn_consensus___1'] == 1:
        return 'Mild Cognitive Impairment'
    elif row['primary_dgn_consensus___2'] == 1:
        return 'Probable Alzheimer's Disease'
    elif row['primary_dgn_consensus___3'] == 1:
        return 'Possible Alzheimer's Disease'
    elif row['primary_dgn_consensus___4'] == 1:
        return 'Lewy Body Disease'
    elif row['primary_dgn_consensus___5'] == 1:
        return 'Parkinson's Disease only'
    elif row['primary_dgn_consensus___6'] == 1:
        return 'Parkinson's Disease and Mild cognitive impairment'
    elif row['primary_dgn_consensus___7'] == 1:
        return 'Parkinson's Disease and Dementia'
    elif row['primary_dgn_consensus___8'] == 1:
        return 'Other'
    elif row['primary_dgn_consensus___9'] == 1:
        return 'w/Concerns'
    elif row['primary_dgn_consensus___99'] == 1:
        return 'unknown'
    else:
        return 'No Preliminary Dx'